body {
    margin: 0;
    background-image: url("asset/background.jpg");
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    background-size: 300px 200px;
    width: auto;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.htext {
    padding-left: 15%;
}

footer {
    background-color: black;
    color: white;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.main{
    text-align: center;
    padding-top: 15vh;
}

img{
    border: 1px solid;
}